*{
box-sizing: border-box;
margin: 0;  padding: 0;
text-decoration: none;
	
}
@font-face{
font-family: play;
src: url(zrnic___.ttf);
}

body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
background: ;

}

main{
width:95%;
height:100%;
margin: 0 auto;
z-index:1;
}
/* COR background  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
main{}
header, nav, section, footer, #ma { }
.header { /*background: #F9F;*/}

/* area da hearde xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
header{
width:100%;
min-height:200px;
margin: 0% auto;
z-index:1;

	}
	
.header{ /* hearde da logo */
width:60%;
height:200px;
float:left;
display:inline-block;
margin: 0 auto;
padding-left: 1%;
	}
	
.header1{ /* hearde do login */
width:33%;
height:200px;
float:right;
display:inline-block;
margin: 0 auto;
padding-left: 1%;
	}


.log{ 
width:100%; 
height:30%; 
margin-top:5px;
padding:5px;
}

.imputlog { 
width:100%; 
height:25%; 
margin-top:5px;}


/* nav Menu xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
nav {
width:100%;
margin-top: 2%;
	 }
/* Estilo O botão suspenso */
.dropbtn {
    background-color: #00A653; /*COR BOTAO*/
    color: white;
    padding: 16px;
    font-size: 100%;
    border: none;
    cursor: pointer;
	
}
.dropbtn100 {
    background-color: #00A653; /*COR BOTAO*/
    color: white;
    padding: 16px;
    font-size: 100%;
    border: none;
    cursor: pointer;
	width:100%;

}


/* O recipiente <div> - necessário para posicionar o conteúdo suspenso */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown100 {
    position: relative;
    display: block;
}

.dropdown a {
	color:#FFF;
}
.dropdown100 a {
	color:#FFF;
}


/* Conteúdo suspenso (oculto por padrão) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
   width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown100-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
	width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


/* Links dentro do menu suspenso */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown100-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Alterar a cor dos links suspensos em hover */
.dropdown-content a:hover {background-color: #2376DC;}
.dropdown100-content a:hover {background-color: #2376DC;}

/* Mostrar o menu suspenso no hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown100:hover .dropdown100-content {
    display: block;
}


/* Altere a cor de fundo do botão suspenso quando o conteúdo suspenso for mostrado */
.dropdown:hover .dropbtn {
    background-color: #12BCED;
}

.dropdown100:hover .dropbtn {
    background-color: #12BCED;
}


#ma{
width:100%;
margin-top: 1%;
margin-bottom: 1%;
}

section{
	width:70%;
	float: left;
	min-height:400px;
}

#navi2 {
float: right;
width:28%; }
	
.di{
width:100%; 
height:50px;}

footer {
clear:both;
width:100%; 
height:50px; 
text-align:center;
}

fieldset{
	color: #000;
	}
	
legend {
	color: #000;
	text-align: left;
	margin-left: 10%;
	
}
